/*	
***
	Launch Pad v4 common.css
	Framework specs:
		960px wide 
		12-column grid (60px columns) 
		10px right/left margins 
		Std column widths:
			full	12-cols		940px
			xl		11-cols		860px
			xl		10-cols		780px
			l		9-cols		700px
			l		8-cols		620px
			m		7-cols		540px
			m		6-cols		460px
			m		5-cols		380px
			s		4-cols		300px
			s		3-cols		220px
			xs		2-cols		140px
			xs		1-col		60px
***		
*/

/*-------------------
CSS Reset
	http://meyerweb.com/eric/tools/css/reset/ 
   	v2.0 | 20110126
   	License: none (public domain)
------------------- */

		html, body, div, span, applet, object, iframe,
		h1, h2, h3, h4, h5, h6, p, blockquote, pre,
		a, abbr, acronym, address, big, cite, code,
		del, dfn, em, img, ins, kbd, q, s, samp,
		small, strike, strong, tt, var,
		b, u, i, center,
		dl, dt, dd, ol, ul, li,
		fieldset, form, label, legend,
		article, aside, canvas, details, embed, 
		figure, figcaption, footer, header, hgroup, 
		menu, nav, output, ruby, section, summary,
		time, mark, audio, video {
			margin:0;
			padding:0;
			border:0;
			font-size:100%;
			font:inherit;
			vertical-align:baseline;
		}
		/* HTML5 display-role reset for older browsers */
		article, aside, details, figcaption, figure, 
		footer, header, hgroup, menu, nav, section {
			display:block;
		}
		body {line-height:1;}
		ol, ul {list-style:none;}
		blockquote, q {quotes:none;}
		blockquote:before, blockquote:after,
		q:before, q:after {
			content:'';
			content:none;
		}

		@-moz-document url-prefix() {table, tr, td {border-collapse:collapse;border-spacing:0;vertical-align: top !important;}} 
		
		/* tables still need 'cellspacing="0"' in the markup */
		table, tr, td {border-collapse:collapse;border-spacing:0;}
		
		table.pf_form_table /* table reset for LiveBall table generated forms */{
			margin:0;
			padding:0;
			border:0;
		}
		
		/* remember to define focus styles! */
		:focus {outline:0;}

		/* remember to highlight inserts somehow! */
		ins {text-decoration:none;}
		del {text-decoration:line-through;}
		
		

/*-------------------
Grid
------------------- */
		.grid 	{float:left; display:inline;margin-left:20px;}
		.gridperc 	{float:left; display:inline;overflow:hidden;margin-right:2%;}
		
		.grid.first {margin-left:0;}
		.gridperc.last 	{margin-right:0;}
		.grid_content 	{float:left; position:relative;display:inline;overflow:hidden;margin:0 0 0 20px;}
		.grid_content_rightm 	{float:left; position:relative;display:inline;overflow:hidden;margin:0 20px 0 0;}
		.grid_content.first {margin-left:0}
		.grid_content_rightm.last {margin-right:0}
		.grid_content table{padding:0;margin:0}
		.grid.rt	{float:right;}
		
		.col1 		{width:60px}
		.col2 		{width:140px}
		.col3 		{width:220px}
		.col4 		{width:300px}
		.col4wide 	{width:310px;overflow:visible}
		.col5 		{width:380px}
		.col6 		{width:460px}
		.col7 		{width:540px}
		.col8 		{width:620px}
		.col8narrow {width:610px}
		.col9 		{width:700px}
		.col10 		{width:780px}
		.col11 		{width:860px}
		.col12 		{width:940px}
		
		.col75perc 	{width:74%}
		.col25perc 	{width:24%}
		
		/* content pods */
		.col_container .grid.col2 {width:150px;margin-left:10px;}
		.col_container .grid.col3 {width:230px;margin-left:10px;}
		.col_container .grid.col4 {width:310px;margin-left:10px;}
		.col_container .grid.col6 {width:470px;margin-left:10px;}
		.col_container .grid.col8 {width:630px;margin-left:10px;}
		.col_container .grid.col9 {width:710px;margin-left:10px;}
		.col_container .grid.col12 {width:950px;margin-left:10px;}
				
		.col_container .grid.first {margin-left:0;}
		
		
		
/*-------------------
Structure/Typography
------------------- */

		body  {text-align:center /* ie quirks hack */}
		
		h1, h2, h3, h4, h5, h6 {font-weight:normal;}
		
		strong, b {font-weight:bold} /* needed for RTE */
		
		em, i {font-style:italic;} /* needed for RTE */
		
		p {margin-bottom:18px;}	
				
		#container	{margin:0 auto;text-align:left;overflow:hidden;}
		
		#container img, #iframe_container img {display:block}
		
		header {}
		header:after	    {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
		header  		    {*zoom: 1;}
		
		.header_text_wrap {max-width:600px;width:auto !important;width:600px}
		
		.header_social {}
		.header_social:after	    {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
		.header_social  		    {*zoom: 1;}
		
		nav {}
		nav:after	    {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
		nav  		    {*zoom: 1;}
		
		nav ul{list-style:none;margin:0;padding:0}
		nav li{float:left;padding:0;background:none;}
		
		section.pre_content {}
		
		section.content {}
		section.content:after	    {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
		section.content  		    {*zoom: 1;}
		
		.content_hook {}	
		.content_hook:after	    {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
		.content_hook  		    {*zoom: 1;}
		
		section.post_content {clear:both}		
		section:after	    {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
		section  		    {*zoom: 1;}
		
		figcaption {margin-top:5px;}
		
		footer {margin:0 auto;clear:both}
		footer:after	    {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
		footer  		    {*zoom: 1;}
		.footer_links div {display:inline-block;} /* if the user swaps a footer link for a text or widget element */
		.footer_social div,.footer_social a,.footer_social img, .header_social div,.header_social a,.header_social img  {float:left;}
		
		/* Use this to create a horizontal ruler across a column. */
		hr       {clear:both; float:none; margin:10px 0; border:none;}
		
		.pf_form_table {table-layout: fixed;} /* fixes form submit cell alignment issue */

/*-------------------
Column/Pod blocks
------------------- */
		.choice_container, .col_container{
			clear:both;	
			margin:0 -5px;	
		}
		.choice_container:after, .col_container:after	    {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
		.choice_container, .col_container  		    {*zoom: 1;}
		
		.col4wide .col_container {margin:0 0 0 5px;}
		
		.col_container .pod {margin-left:10px;padding:5px;}
		.pod:after	    {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
		.pod  		    {*zoom: 1;}
		
		.product_hero {margin:0 -5px 10px;padding:5px;}
		.product_hero:after    {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
		.product_hero    {*zoom: 1;}
		
		.choice_container a {display:block}
		
		.pod.first{margin-left:0;}
		.col_container .pod {margin:0 0 10px}
		
		.seg_button_link {position:absolute;bottom:0;}
		
		.seg_button_link_flex a.seg {
			 display:block;
			overflow:hidden;
			 position:relative;
			 }
		
	

/*-------------------
Block-like things that need consistent margins
------------------- */

		.image,
		.widget,
		 ul, ol,
		 table,
		.widget
				{margin-bottom:10px;}
									
		.widget_last {margin-bottom:0;margin-top:10px;}
		a.block {margin:0;}
		section.pre_content .block{margin:0}
		
		.double_block {margin-bottom:20px;}


/*-------------------
Utilities
------------------- */

		.block {display:block;}
		.grid_block {display:block;margin-bottom:20px;}
		.clear {clear:both}
		.clear_left {clear:left}
		.clear_right {clear:right}
		.rt	{float:right}
		.lt	{float:left}
		
		.clear_wrap{}.clear_wrap:after   {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
		.clear_wrap 		    {*zoom: 1;}
		
		.center {text-align:center;}

		.flash_outer_wrap {overflow:hidden} /* fix flash overlay toolbar obscuring content */
		
		.img_right {float:right;margin:0 0 5px 5px}
		.pod .img_right {float:right;margin:0 0 0 5px}
		.img_left {float:left;margin:0 5px 5px 0}
		.indent {margin-left:5px;}
		.form_indent {}.form_indent:after   {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
		.form_indent 		    {*zoom: 1;}
		
		.grid_margin {margin:0 10px;}
		
		.secondary_link      {display:block;text-align:center;clear: both;line-height:100%;margin:10px 0 10px;}
		
		.relative	{position:relative}

/*-------------------
IE6 PNG fix: 
htc file must be pathed correctly
------------------- */

		/** html img, * html .pf_submit_image, pf_submit_button, #header_logo {behavior:url(/Templates/ion/ion_Framework_v4.0/Masters/iepngfix.htc)}*/

/*-------------------
iFrame/Embed-specific
------------------- */

		body.iframe {text-align:left;}
		
		section.iframe_content {padding-bottom:10px}
		
		.flex_col {display:inline-block;min-width:200px;max-width:980px;width:auto !important}

		#iframe_container, footer.iframe	{margin:0;overflow:hidden;max-width:1300px;_width:expression(document.body.clientWidth > 1300? "1300px": "auto" );}
		#iframe_container.facebook	{width:810px;}
		
		 
		
		#iframe_container section.post_content {padding:0;clear:both}
		
		#iframe_container .form_block.right {float:right}
		
		
		/* facebook specific iframe/embed layout */
		
		#iframe_wrapper.facebook {width:810px;}
		
		#iframe_wrapper.facebook .choice_container{
			margin:0;
			background:none;	
			padding:0;
			-moz-border-radius:none;
			-webkit-border-radius:none;
			border-radius:none;
		}
		
		#iframe_wrapper.facebook .col4 	{width:256px}
		#iframe_wrapper.facebook .col6 	{width:395px}
		
		#iframe_wrapper.facebook figure.col4, #iframe_wrapper.facebook aside.col4  	{width:300px;}
		
		#iframe_wrapper.facebook footer.iframe {margin:0;width:810px;}
		
		

/*-------------------
Custom
------------------- */
		.area_wrap_1 {background:#ff9900;border-bottom:1px solid #d8d8d8;height:417px;}
		.area_wrap_2 {background:#e5ebee url(light_blue_bg.gif) repeat-x top;border-bottom:1px solid #d8d8d8;}