html {
	 -webkit-font-smoothing: antialiased;
}

body{
	margin: 0;
	padding: 0;
	background-color: #354249;
	font-family: MyriadPro-Regular;
}




/*-------------------
Footer
------------------- */

		.v3_footer{
		height: 160px;
		width: 1120px;
		margin: 0 auto;
	}

.footer_links v3_footer_wrap {
	margin-top: 30px;
}

		#footer_content_alignment{
			float: left;
			width: 470px;
		}

		#ball_footer_content_alignment{
			float: left;
			width: 470px;
		}

		#footer_logos{
			float: right;
		}

		#ball_footer_logos{
			float: right;
		}

		#ball_Footer_1_a{
			color: #F08619;
			font-size: 23px;
			font-weight: normal;
			margin-bottom: 16px;
			text-align: left;
		}

		#Footer_1_h{
			color: #fff;
		}

		#ball_Footer_1_h{
			color: #fff;
		}

		#Footer_1_a{
			color: #F08619;
			font-size: 23px;
			font-weight: normal;
			margin-bottom: 16px;
			text-align: left;
		}

		#ball_Footer_1_b2{
			color: #fff;
			font-size: 18px;
			font-weight: normal;
			margin-top: 16px;
			margin-bottom: 36px;
			text-align: left;
		}

		#Footer_1_b2{
			color: #fff;
			font-size: 18px;
			font-weight: normal;
			margin-top: 16px;
			margin-bottom: 36px;
			text-align: left;
		}

		footer {
			width:940px;
			margin-top:0px;
			padding:10px;
			color:#666;
			font-size: 11px;
			line-height: 16px;
			}

		#footer_number{
			font-size: 23px;
			margin-top: 0px;
			margin-bottom: 16px;
			color: #BFCBD7;
			text-align: left;
		}

		#ball_footer_number{
			font-size: 23px;
			font-family: myriad-pro-1;
			margin-top: 0px;
			margin-bottom: 16px;
			color: #BFCBD7;
			text-align: left;
		}

		.copyright {
			/* float:left; */
			margin-top: 0px;
			margin-bottom: 16px;
		}

		.footer_links {
			/* float:right; */
			margin-bottom:10px;
			margin-top: 36px;w
			color: #fff;

		}

		.footer_links a {
			color: #919191;
			text-decoration: none;
			font-size: 11px;
			padding: 0px 10px;
		}

		.footer_links a:hover {
			text-decoration: underline;
			color: white;
		}

		.footer_links a.first_footer_link {padding-left:0;border:none;}
		.footer_links a.last_footer_link {}

		.footer_social {
			float:right;
			margin-left:10px;
		}

		.footer_social .widget_social {
			margin-left:5px;
		}

		.footer_fineprint {
			clear:both;
			text-align:center;
			padding-top:5px;
			color:#668799;
		}

		.pod_text{
			padding: 0 12px 0 0;
			color: rgb(80, 103, 127);
			font-family: myriad-pro-1;
			font-size: 13px;
			line-height: 19px;
			margin: 0 auto;
			text-align: center;
		}

		#footer_wrap_1{
			margin: 0 auto;
			width: 1100px;
			height: 290px;
		 	padding: 25px 0 10px 0;
		 	margin-bottom: 10px;
		}

		#ball_footer_wrap_1{
			margin: 0 auto;
			width: 1020px;
			height: 290px;
		 	padding: 25px 0 10px 0;
		 	margin-bottom: 10px;
		}

		#footer_wrap { background-color: #323F47;}
		#footer_logo { background:url(logo.png) no-repeat center center; height:59px; margin-bottom:10px; }



input::-webkit-input-placeholder{
	color: #959595;
}

input:-moz-placeholder{
	color: #959595;
}

textarea::-webkit-input-placeholder{
    color: #959595;
}

textarea:-moz-placeholder{
    color: #959595;
}

.innerwrap{
	width: 1120px;
	margin: 0 auto;
	overflow: auto;
	height: 100%;
}
.innerwrap2{
	width: 1120px;
	margin: 0 auto;
	height: 100%;
}


#most-popular {
	z-index: 3;
		position: absolute;
		left: -11px;
		top: 149px;

}

#pagewrap{
	width: 100%;
	height: 100%;
}

#logowrap{
	height: 80px;
	background-color: #fff;
}

#logowrap img{
	margin-top: 20px;
}

#headerwrap{
	height: 366px;
	background: #f8a33d url(../images/header_gradient.jpg) repeat-x top center;
	border-top: 1px solid #d8d8d8;
	border-bottom: 1px solid #d8d8d8;
}

#clickbox{
margin-top: 40px;
}

#clicktochat{
margin-left: 2px;
}

#headerleft{
	padding-top: 40px;
	width: 515px;
}

#headerleft h3{
	font-weight: normal;
	color: #fff;
	font-size: 64px;
	margin: 0;
	font-family: MyriadPro-Bold;
}

	#headerleft p{
	font-weight: normal;
	color: #fff;
	font-size: 33px;
	margin: 0;
	line-height: 40px;
	font-family: MyriadPro-Regular;
	width: 514px;
}

#fellow{
	position: absolute;
	bottom: 0px;
	left: 62%;
	margin-left: 0px;
	height: 100%
}

#formbox{
	width: 246px;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
}

#formwrap{
	background-color: #323f46;
	-moz-box-shadow: 0px 0px 10px 1px #c97914;
	-webkit-box-shadow: 0px 0px 10px 1px #c97914;
	box-shadow: 0px 0px 10px 1px #c97914;
	width: 246px;
	padding: 10px 20px 15px 20px;
	height: 100%;
}

#formwrap form p{
	margin: 5px 0px 0px 0px;
}

#formwrap input{
	border: 1px solid #668799;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 24px;
	margin-bottom: 4px;
	padding-left: 5px;
	line-height: 24px;
}

#formwrap select{
	border: 1px solid #668799;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	line-height: 24px;
	height: 24px;
	margin-bottom: 4px;
	color: #959595;
}

.form-full{
	display: block;
	width: 100%;
}

.form-half{
	width: 48%;
	display: inline-block;
}

.form-half:first-child{
	float:left;
}

.form-half:nth-child(2){
	float:right;
}

.submit{
	padding-top: 15px;
	cursor: pointer;
	display: block;
	margin: 0 auto;
}

#content1wrap .innerwrap{
	padding-bottom: 30px;
}

#content1wrap{
	background-color: #f6f6f8;
	text-align: center;
}

#content1wrap h2{
	font-size: 2.45em;
	font-family: MyriadPro-Bold;
	font-weight: normal;
	margin-bottom: 3px;
	margin-top: 19px;
}

#content1wrap p{
	font-size: 20px;
	color: #666666;
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: 22px;
}

#blockwrapper{
	width: 100%;
	margin-top: 20px;
}

#blockwrapper p{
	width: 250px;
	margin: 0 auto;
	display: block;
	color: #50677f;
	font-size: 13px;
	line-height: 19px;
}

#blockwrapper h1{
	color: #50677f;
	font-weight: normal;
	font-size: 23px;
	margin-top: 12px;
	margin-bottom: 5px;
}

#blockwrapper h3{
	color: #50677f;
	font-weight: normal;
	font-size: 17px;
	margin-top: 0px;
	margin-bottom: 4px;
	margin-left: auto;
	margin-right: auto;
	font-family: MyriadPro-Semibold;
	width: 238px;
}

.blocks{
	display: inline-block;
	width: 33%;
	vertical-align: top;
	height: 100%;
}

.blocks img{
	margin-bottom: 25px;
}

.blocks:first-child, .blocks:nth-child(2){
	border-right: 1px solid #d8d8d8;
}

#content2wrap{
	height: 325px;
	background-color: #fff;
}

#content2wrap .innerwrap{
	padding-top: 43px;
	padding-bottom: 53px;
}

#testimonials{
	background-color: #f5f5f5;
	height: 100%;
	width: 427px;
	border: 1px solid #d8d8d8;
	display: inline-block;
	vertical-align: top;
	padding-left: 27px;
}

#lady{
	position: absolute;
	bottom: 0px;
	left: 20px;
}

#tinner{
	width: 100%;
	height: 100%;
}

#tinner h1{
	font-weight: normal;
	font-size: 26px;
	margin-top: 9px;
	margin-bottom: 0px;
}

#quotewrap{
	padding-right: 25px;
	margin-top: 12px;
}

#quotewrap p{
	color: #658798;
	font-size: 18px;
	margin: 0;
	line-height: 26px;
	font-family: Georgia;
	font-weight: bold;
	font-style: italic;
}

#quotewrap p span{
	font-size: 40px;
	vertical-align: middle;
}

#quotestart{
	position: absolute;
	top: 0px;
	left: 0px;
}

#quotedone{
	position: absolute;
	top: 95px;
	right: 10px;
}








/* jrm  */

#content2wrap.auto-height {
	height: auto;
	background-color: #FFF;
}


#pricing {


}

.popular_banner {
	top: -16px;
	position: relative;
	left: -9px;
}

#month-to-month {
	diplay: block;
}


#yearly {
	display: none;
}

#pricing h1 {
	font-weight: normal;
	margin-top: -6px;
	margin-bottom: 4px;
	font-size: 47px;
	font-family: MyriadPro-Bold;
	margin: 0 auto;
	text-align: center;
}

#pricing h4 {
	font-weight: normal;
	margin-top: -6px;
	margin-bottom: 4px;
	font-size: 28px;
	font-family: MyriadPro-Bold;
	margin: 0 auto;
	text-align: center;
	color: #50677f;
}

#details {
	display: inline-block;
	vertical-align: top;
	width: 600px;
}

.time-switch {
	text-align: center;
	padding: 20px;

}

div.quarterly {
	display: none;
}


.credit-number {
	font-family: Georgia;
	font-weight: bold;
	font-style: italic;
	font-size: 20px;
	color: #414141;
	padding: 5px;

}


#details button, .start {
	background: url(../images/button_bg.png) 0px 0px no-repeat;
	font-family: MyriadPro-Bold;
	border: 0;
	width: 110px;
	height: 28px;
	color: white;
	font-size: 13px;
}

#details button.off {
font-family: Arial;
font-size: 10pt;
color: #7e8e97;
border: 1px #d9d9d9 solid;
	background: none;
	border: 1px solid #6b7b94;
	width: 110px;
	height: 28px;
	color: #6b7b94;
}

.start.bigger {
	margin: 0 auto;
	background-size: cover;
	width: 244px;
	height: 80px;
	background: url(../img/trynow-button.png);
	margin-top: 33px;
}

.start.bigger a {

}






table.pricing-details {
	width: 600px;
	color: #FFF;
	background: url('../img/pricing_colorblocks.png') no-repeat left top;
	background-size: contain ;
	margin: 0px;
	padding: 0px;
	}

table.pricing-details th {
	font-family: MyriadPro-Bold;
	font-size: 23px;
	font-weight: bold;
	color: #FFF;
	padding: 5px;
	padding-top: 0;
	width: 175px;
height: 195px;

}

table.pricing-details th.starter {
}

div.button {

margin: 0px 0px 0px 42px;

}

table.pricing-details th p {
		padding-top: 5px;
		font-family: Arial;
		height: 65px;
		width: 150px;
		font-size: 13px;
		margin: 0 auto;
		padding-left: 3px;
		color: #ffffff;
		font-weight: normal;
}

div.creditsData {

font-family: Arial;
font-size: 16px;
color: #414141;
line-height: 28px;

}

div.creditsData a {
	color: #dc3f00;
	font-weight: bold;
}

table.pricing-details th .list_price {
	text-decoration: line-through;
	font-family: Georgia;
	font-weight: bold;
	font-style: italic;
	color: #ffffff;
	font-size: 15px;
}

table.pricing-details th .percentage {
	font-family: MyriadPro-Bold;
	font-style: italic;
	font-size: 17px;
}

table.pricing-details th .price {
font-family: Georgia;
font-weight: bold;
font-style: italic;
color: #ffffff;
font-size: 15px;
margin-top: 6px;
}

table.pricing-details th hr {
margin: 4px;
width: 111%;
margin-left:-11px;
padding: 0px;
background-color: #c3731b;
border: 0px;
border-top: 1px solid #fec870;
}


div.discount {
	font-family: Georgia;
font-weight: bold;
font-style: italic;
color: #ffffff;
font-size: 22px;
}



table.pricing-details th.basic {
}



table.pricing-details th.deluxe {
}



table.pricing-details td {
	font-family: MyriadPro-Semibold;
	text-align: center;
	border-left: 1px solid #d8d8d8;
	border-right: 1px solid #d8d8d8;
	padding-top: 14px;
	color: #50677f;
	font-weight: normal;
	font-size: 17px;
	line-height: 19px;
}


table.pricing-details td ul {
	padding-left: 0 !important;
}

table.pricing-details td ul li {
	list-style-type: none;
	margin: none;
	padding: none;
	font-size: 13px;
	margin-top: 6px;

	font: 14px "Myriad Pro", "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
	line-height: 1.25;
	color: #666;


}

#highlights {
	background-color: #f5f5f5;
	height: 100%;
	width: 407px;
	margin-left: 60px;
	margin-top: 50px;
	display: inline-block;
	vertical-align: top;
	padding-left: 27px;
	text-align: center;
}

#highlights ul {
	text-align: left;
	margin: 0px;
	padding: 0px;
}

#highlights ul li {
list-style-type: disc;
font-family: MyriadPro-Regular;
font-size: 26px;
line-height: 35px;
color: #50677f;
padding-left: 10px;
margin-top: 10px;
margin-left: 58px;
cursor: pointer;
}


#tryit p {
	margin: 0px;
	font-family: MyriadPro-Regular;
	font-size: 21px;
	line-height: 30px;
	color: #666666;
	width: 523px;
}

#tryit img{
	margin-top: 13px;
	cursor: pointer;
}

.post-pricing {
	width: 100%;
	text-align: center;
	margin-top: 6px;
	padding: 20px 90px;
	font: 17px "Myriad Pro", "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
	line-height: 1.35;
	color: #666;

}

.post-pricing > div {
	margin-left:125px;

}


#lp_div_startmytrial_button {
	margin-top: 20px;
}

#lp_div_tryitnow_button  {
	margin: 40px;
}



.sponsor-container {
	width: 570px; height: 200px; float: right;
}

.sponsor-container img {
	padding: 2px 10px;
}


#tryit{
	display: inline-block;
	vertical-align: top;
	width: 600px;
}

#tryit h1{
	font-weight: normal;
	margin-top: -6px;
	margin-bottom: 4px;
	font-size: 47px;
	font-family: MyriadPro-Bold;
}

#tryit p{
	margin: 0px;
	font-family: MyriadPro-Regular;
	font-size: 21px;
	line-height: 30px;
	color: #666666;
	width: 523px;
}

#tryit img{
	margin-top: 13px;
	cursor: pointer;
}

#customerwrap{
	height: 90px;
	border-top: 1px solid #814d00;
	border-bottom: 1px solid #814d00;
	background-color: #ff9900;
	text-align: center;
}

#customerwrap img{
	display: inline-block;
	padding: 0px 50px;
	height: 66px;
	margin-top: 11px;
}

#footer1wrap{
	background-color: #354249;
}

#footer1wrap .innerwrap{
	padding-bottom: 30px;
	padding-top: 27px;
}

#footer1wrap h3{

font-family: Arial;
font-size: 20px;
color: #f2f2f2;
	font-weight: normal;
	margin: 9px 0px 20px 0px;
}

#fleft{
	width: 470px;
	display: inline-block;
	vertical-align: top;
}

#footer1wrap h1{
	font-family: MyriadPro-Regular;
	font-size: 29px;
	font-weight: normal;
	margin: 0px 0px 0px 0px;
}

#footernumtext{
	font-size: 23px;
	font-family: MyriadPro-Regular;
	margin: 0px;
	color: #becbdb;
}

#footer2wrap{background-color: #151314;
height: auto;
margin-bottom: -16px !important;
float: left;
width: 100%;

}

#footer2wrap img{
	margin-top: 21px;
	margin-bottom: 27px;
}

#linkbar{
	color: #666666;
	margin: 0;
}

#linkbar a, #linkbar a:visited{
	color: #fff;
	text-decoration: none;
	padding: 0px 25px;
}

#linkbar a:hover{
	text-decoration: underline;
}

#copyright{
	margin-top: 20px;
	color: #fff;
}

#copyright a, #copyright a:visited{
	text-decoration: underline;
	color: #fff;
}

/* HELPERS */

.navy{
	color: #50677f;
}

.blue{
	color: #668799;
}

.orange{
	color: #ff9900;
}

.bold{
	font-family: MyriadPro-Semibold;
}

.s16{
	font-size: 16px;
}

.bold-italic{
	font-family: MyriadPro-SemiboldIt;
}

#sliderbox{
	display: none;
	height: 100%;
	width: 100%;
}

#thanks{
	display: none;
	color: #666666;
}

#thanks p{
	color: #fff;
	font-size: 18px;
	font-family: MyriadPro-Regular;
}

#thanks p span{
	font-size: 30px;
}

#chatpop{
	display: none;
	background-color: #354249;
	border-radius: 8px;
	-moz-box-shadow: 0px 0px 18px 1px #333;
	-webkit-box-shadow: 0px 0px 18px 1px #333;
	box-shadow: 0px 0px 18px 1px #333;
	width: 228px;
	padding: 10px 10px 15px 10px;
	position: fixed;
	z-index: 10;
	top: 50%;
	left: 10%;
	text-align: center;
	color: #fff;
	margin-top: -121px;
}

#chatpop h1{
	margin-top: 25px;
	margin-bottom: 25px;
	font-size: 35px;
	font-weight: normal;
}

#chatpop p{
	margin-top: 0;
	margin-bottom: 0;
	font-weight: bold;
}

#startchat{
	margin-top: 10px;
	margin-bottom: 2px;
}

#engagetext{
	color: #fff;
	font-family: MyriadPro-Regular;
	font-weight: normal;
	font-size: 17px;
	margin-top: 0px;
	padding-top: 8px;
}

#engagetext span{
	color: #fff;
	font-family: MyriadPro-Bold;
	font-weight: normal;
	font-size: 23px;
	line-height: 41px;
}

#imglogo{
	display: inline-block;
	vertical-align: top;
	margin: -5px 0px 0px 119px;
}

#thanksface{
	display: block;
	margin: 15px auto 15px auto;
}

/* HTML5 ? Boilerplate
 * ==|== normalize ==========================================================
 */


div{
	margin: 0;
	padding: 0;
	display: block;
	position: relative;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea {  color: #000; -webkit-font-smoothing: antialiased; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic;  }
svg:not(:root) { overflow: auto; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

input:focus, select:focus, button:focus { outline: none; }


/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }